<ossec_config>
  <client>
{% if servers is defined and servers|length %}
{% for server in servers %}
    <server>
      <address>{{ server.ip | default(default_server.ip) }}</address>
      <port>{{ server.port | default(default_server.port) }}</port>
      <protocol>{{ server.protocol| default(default_server.protocol) }}</protocol>
      <max_retries>{{ server.max_retries | default(default_server.max_retries) }}</max_retries>
      <retry_interval>{{ server.retry_interval | default(default_server.retry_interval) }}</retry_interval>
    </server>
{% endfor %}
{% else %}
    <server>
      <address>{{ default_server.ip }}</address>
      <port>{{ default_server.port }}</port>
      <protocol>{{ default_server.protocol }}</protocol>
      <max_retries>{{ default_server.max_retries }}</max_retries>
      <retry_interval>{{ default_server.retry_interval }}</retry_interval>
    </server>
{% endif %}

    <notify_time>30</notify_time>
    <time-reconnect>120</time-reconnect>
    <auto_restart>yes</auto_restart>

{% if ansible_distribution in ['Ubuntu', 'Debian'] %}
    <config-profile>{{ config_profile_debian}}</config-profile>
{% elif ansible_distribution == 'CentOS' %}
    <config-profile>{{ config_profile_centos }}</config-profile>
{% endif %}

    <enrollment>
      <enabled>{{ registration_enabled }}</enabled>
      <manager_address>{{ registration_manager_address }}</manager_address>
      <port>{{ registration_port }}</port>
{% if registration_agent_name is defined %}
      <agent_name>{{ registration_agent_name }}</agent_name>
{% endif %}
{% if registration_groups is defined %}
      <groups>{{ registration_groups }}</groups>
{% endif %}
{% if registration_agent_address is defined %}
      <agent_address>{{ registration_agent_address }}</agent_address>
{% endif %}
{% if registration_ssl_cipher is defined %}
      <ssl_cipher>{{ registration_ssl_cipher }}</ssl_cipher>
{% endif %}
{% if registration_server_ca_path is defined %}
      <server_ca_path>{{ registration_server_ca_path }}</server_ca_path>
{% endif %}
{% if registration_agent_certificate_path is defined %}
      <agent_certificate_path>{{ registration_agent_certificate_path }}</agent_certificate_path>
{% endif %}
{% if registration_agent_key_path is defined %}
      <agent_key_path>{{ registration_agent_key_path }}</agent_key_path>
{% endif %}
{% if registration_authorization_pass_path is defined %}
      <authorization_pass_path>{{ registration_authorization_pass_path }}</authorization_pass_path>
{% endif %}
{% if registration_auto_method is defined %}
      <auto_method>{{ registration_auto_method }}</auto_method>
{% endif %}
{% if registration_delay_after_enrollment is defined %}
      <delay_after_enrollment>{{ registration_delay_after_enrollment }}</delay_after_enrollment>
{% endif %}
{% if registration_use_source_ip is defined %}
      <use_source_ip>{{ registration_use_source_ip }}</use_source_ip>
{% endif %}
    </enrollment>
  </client> 

  <client_buffer>
    <!-- Agent buffer options -->
    <disabled>{{ buffer_disabled }}</disabled>
    <queue_size>{{ buffer_queue_size }}</queue_size>
    <events_per_second>{{ buffer_events_per_second}}</events_per_second>
  </client_buffer>

  <!-- Policy monitoring -->
  <rootcheck>
    <disabled>{{ rootcheck_disable }}</disabled> 

    <!-- Frequency that rootcheck is executed - every 12 hours -->
    <frequency>43200</frequency>

    <rootkit_files>/var/ossec/etc/shared/rootkit_files.txt</rootkit_files>
    <rootkit_trojans>/var/ossec/etc/shared/rootkit_trojans.txt</rootkit_trojans>

    <system_audit>/var/ossec/etc/shared/system_audit_rcl.txt</system_audit>
    <system_audit>/var/ossec/etc/shared/system_audit_ssh.txt</system_audit>
    <system_audit>/var/ossec/etc/shared/cis_debian_linux_rcl.txt</system_audit>

    <skip_nfs>yes</skip_nfs>
  </rootcheck>

  <wodle name="open-scap">
    <disabled>yes</disabled>
    <timeout>1800</timeout>
    <interval>1d</interval>
    <scan-on-start>yes</scan-on-start>

    <content type="xccdf" path="ssg-debian-8-ds.xml">
      <profile>xccdf_org.ssgproject.content_profile_common</profile>
    </content>
    <content type="oval" path="cve-debian-oval.xml"/>
  </wodle>

  <wodle name="syscollector">
    <disabled>no</disabled>
    <interval>1h</interval>
    <scan_on_start>yes</scan_on_start>
    <hardware>yes</hardware>
    <os>yes</os>
    <network>yes</network>
    <packages>yes</packages>
    <ports all="no">yes</ports>
    <processes>yes</processes>

    <!-- Database synchronization settings -->
    <synchronization>
      <max_eps>10</max_eps>
    </synchronization>
  </wodle> 

  <!-- File integrity monitoring -->
  <syscheck>
    <disabled>{{ syscheck_disabled }}</disabled>

    <!-- Frequency that syscheck is executed default every 12 hours -->
    <frequency>{{ syscheck_frequency }}</frequency>

    <scan_on_start>{{ syscheck_on_start }}</scan_on_start>
    <!-- Directories to check  (perform all possible verifications) -->
{% for dir_group in dirs_group%}
    <directories
{% for option in dir_group.options%}
      {{ option }}
{% endfor%}
    >
    {{ dir_group.dirs | join(", ") }}
    </directories>
{% endfor%}

    <!-- Files/directories to ignore -->
{% for directory in ignore_list %}
    <ignore>{{ directory }}</ignore>
{% endfor %}


    <!-- File types to ignore -->
    <ignore type="sregex">.log$|.swp$</ignore>

    <!-- Check the file, but never compute the diff -->
    <nodiff>/etc/ssl/private.key</nodiff>

    <skip_nfs>yes</skip_nfs>
    <skip_dev>yes</skip_dev>
    <skip_proc>yes</skip_proc>
    <skip_sys>yes</skip_sys>

    <!-- Nice value for Syscheck process -->
    <process_priority>10</process_priority>

    <!-- Maximum output throughput -->
    <max_eps>100</max_eps>

    <!-- Database synchronization settings -->
    <synchronization>
      <enabled>yes</enabled>
      <interval>5m</interval>
      <response_timeout>30</response_timeout>
      <queue_size>16384</queue_size>
      <max_eps>10</max_eps>
    </synchronization>
  </syscheck>

  <!-- Log analysis -->
  <localfile>
    <log_format>syslog</log_format>
    <location>/var/ossec/logs/active-responses.log</location>
  </localfile>

  <localfile>
    <log_format>syslog</log_format>
    <location>/var/log/messages</location>
  </localfile>

  <localfile>
    <log_format>syslog</log_format>
    <location>/var/log/auth.log</location>
  </localfile>

  <localfile>
    <log_format>syslog</log_format>
    <location>/var/log/syslog</location>
  </localfile>

  <localfile>
    <log_format>command</log_format>
    <command>df -P</command>
    <frequency>360</frequency>
  </localfile>

  <localfile>
    <log_format>full_command</log_format>
    <command>netstat -tan |grep LISTEN |grep -v 127.0.0.1 | sort</command>
    <frequency>360</frequency>
  </localfile>

  <localfile>
    <log_format>full_command</log_format>
    <command>last -n 5</command>
    <frequency>360</frequency>
  </localfile>

  <!-- Active response -->
  <active-response>
    <disabled>no</disabled>
  </active-response>

</ossec_config> 